<div class="jumbotron wrap-home">
  <h1 class="display-4 white-color title">{{title}}</h1>
  <div class="row">
    <div class="col-lg-6 col-md-6 framepanel">
      <legend>Login</legend>
      <div class="content-framepanel">
        <form>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input [(ngModel)]="login.email" type="email" class="form-control form-control-sm" id="inputEmail" name="inputEmail"
              placeholder="Digite seu email">
          </div>
          <div class="form-group">
            <label for="inputEmail">Senha</label>
            <input [(ngModel)]="login.password" type="password" class="form-control form-control-sm" id="inputPassword"
              name="inputPassword" placeholder="Digite sua senha">
          </div>
          <button (click)="doLogin()" class="btn btn-danger col-12" [disabled]="login.email == '' || login.password == ''">Entrar</button>
        </form>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 framepanel">
      <legend>Cadastro</legend>
      <div class="content-framepanel">
        <form>
          <div class="row">
            <div class="form-group col-6">
              <input [(ngModel)]="register.completeName" type="text" class="form-control form-control-sm" id="inputName"
                name="inputName" placeholder="Nome completo">
            </div>
            <div class="form-group col-6">
              <input [(ngModel)]="register.email" type="email" class="form-control form-control-sm" id="inputEmailRegister"
                name="inputEmailRegister" placeholder="Email">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <input [(ngModel)]="register.password" type="password" class="form-control form-control-sm is-invalid" id="inputPasswordRegister" [class.is-invalid]="!passwordsConfirms"
                name="inputPasswordRegister" placeholder="Digite sua senha">
            </div>
            <div class="form-group col-6">
              <input [(ngModel)]="register.confirmPassword" type="password" class="form-control form-control-sm" [class.is-invalid]="!passwordsConfirms"
                id="inputTwicePasswordRegister" name="inputTwicePasswordRegister" placeholder="Digite a senha novamente">
              <div *ngIf="!passwordsConfirms" class="invalid-feedback">
                Senhas não conferem
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="selectBloodType">Tipo sanguíneo</label>
            <select [(ngModel)]="register.bloodType" class="form-control form-control-sm" id="selectBloodType" name="selectBloodType">
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
            </select>
          </div>
          <div class="profile">
            <div class="custom-control custom-radio custom-control-inline">
              <input [(ngModel)]="register.isDonor" value="true" type="radio" id="radioProfileDonor" name="radioProfile"
                class="custom-control-input">
              <label class="custom-control-label" for="radioProfileDonor">Doador</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input [(ngModel)]="register.isDonor" value="false" type="radio" id="radioProfileReceptor" name="radioProfile"
                class="custom-control-input">
              <label class="custom-control-label" for="radioProfileReceptor">Receptor</label>
            </div>
          </div>
          <button (click)="doRegister()" class="btn btn-danger col-12" [disabled]="register.completeName == '' || register.email == '' || register.password == '' || register.confirmPassword == '' || register.bloodType == ''">Cadastrar-se</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="modalAwareInfoNeed" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Quase lá...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Para completar seu cadastro, precisamos de mais informações, como:</p>
        <ul>
          <li>Endereço</li>
          <li *ngIf="register.isDonor == 'false'">Informações sobre o hospital</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button (click)="navigateToRegister()" data-dismiss="modal" type="button" class="btn btn-primary">Concordo</button>
      </div>
    </div>
  </div>
</div>